.app{
    /* overflow: hidden; */
}
body{
    margin: 0;
}
/* HEADER MOBILE */
.mobile-navhead{
    font-size: 1.4rem;
    color: #888;
    width: 30px;
    /* text-align: center; */
    height: 30px;
    line-height: 30px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    display: none;
    position: relative;
}
.mobile-navhead--icon{
    padding-left: 6px;
}
.header__navbar-list--mobile {
    position: absolute;
    right: 0;
    top: 115%;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    z-index: 2;
}
.header__navbar-item--mobile{
    border: 1px solid #dadada;
    border-top: none;
    display: inline-block;
    min-width: 160px;
    height: 30px;
    line-height: 30px;
    position: relative;
    padding: 0 20px;
}
.header__navbar-link--mobile{
    text-decoration: none;
    display: block;
}
.header__navbar-icon--mobile{
    font-size: 1.3rem;
    color: #888;
}
/* header */
.header{
    height: 4rem;
    background-color: #222;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-list{
    list-style: none;
    margin: 0;
    line-height: 4rem;
    padding: 0;
}
.header__navbar-link{
    text-decoration: none;
    display: block;
}
.header__navbar-link::after{
    content: "";
    border: solid 1px rgba(68, 65, 65, 0.8);
    height: 3.8rem;
    position: absolute;
    right: 0;
}
.header__navbar-link:hover .header__country-name{
    color: var(--primary-color);
    filter: brightness(70%);
}
.header__navbar-item:first-child .header__navbar-link::after{
    content: "";
    border: solid 1px rgba(68, 65, 65, 0.8);
    height: 3.8rem;
    position: absolute;
    left: 0;
}
.header__navbar-item{
    display: inline-block;
    min-width: 90px;
    text-align: center;
    position: relative;
    padding: 0 20px;
}
.header__navbar-items{
    display: inline-block;
    min-width: 55px;
    text-align: center;
}
.header__navbar-item1{
    display: inline-block;
    min-width: 100px;
    text-align: center;
    position: relative;
    margin-right: 10px;
}
.header__country{
    position: relative;
    cursor: pointer;
}
.header__country-img{
    width: 16px;
    height: 12px;
    
}
.header__country-name{
    color: #888;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 5px;
}
.header__navbar-icon{
    font-size: 1.3rem;
    color: #888;
}
.header__contry-down::after{
    content: "";
    position: absolute;
    border-width: 5px 5px;
    border-style: solid;
    border-color: #888 transparent transparent transparent;
    right: 0;
    top: 11px;
}
/* con của header */
.header__country-menu{
    z-index: 1;
    position: absolute;
    list-style: none;
    padding: 0;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(247, 244, 242);
    display: none;
}
.header__country:hover .header__country-menu{
    display: block;
    animation: FadeIn linear 0.3s;
}
.header__country-menu--item{
    width: 96px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.header__country-menu--item:hover{
    cursor: pointer;
    background-color: #e2dfdf;
}
.header__country-menu::before{
    content: "";
    border-style: solid;
    border-color: transparent transparent seashell transparent;
    border-width: 10px 10px;
    top: -20px;
    left: 13px;
    position: absolute;
}
.header__country-menu--img{
    width: 16px;
    height: 11px;
}
.header__country-menu-name{
    text-decoration: none;
    color: #888;
    font-size: 1.2rem;
}
/* container */
.container{
    margin: 40px 0 10px 0;
}
.content__logo-link{
    display: block;
    margin: 0;
}
.content__info{
    display: flex;
}
.content__info:hover .content__info-icon{
    color: var(--white-color);
}
.content__info:hover .content__info-icon::after{
    height: 100%;
}
.content__info-icon{
    cursor: pointer;
    position: relative;
    background-color: #eaeaea;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 100%;
    color: #666;
    z-index: 1;
    overflow: hidden;
}
.content__info-right{
    display: block;
    width: 4rem;
    height: 4rem;
}
.content__info-icon::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    z-index: 2;
}

.content__info-icon-i{
    font-size: 1.5rem;
    line-height: 4rem !important;
    z-index: 3 ;
    position: relative;
}
.content__info-item{
    padding: 0 1.5rem;
}
.content__info-link{
    text-decoration: none;
    font-size: 1.7rem;
}
.content__info-link:hover .content__info-head--name{
    color: var(--primary-color);
}
.content__info-head--name{
    color: #555;
    font-weight: 400;
    margin: 0;
}
.content__info-body--oder{
    font-size: 1.3rem;
    color: #777;
    margin: 0.6rem 0;
}
/* menu */
.menu__nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 5.2rem;
    margin-top: 30px;
}
.menu__nav::after{
    content: "";
    position: absolute;
    border-width: 1px;
    border-style: dashed;
    bottom: 0;
    left: 0;
    right: 0;
    color: #dadada;
}
.menu__nav::before{
    content: "";
    position: absolute;
    border-width: 1px;
    border-style: dashed;
    top: 0;
    left: 0;
    right: 0;
    color: #dadada;
}
/* navbar tablet */
.icon-navbar-tablet{
    display: none !important;
    font-size: 25px;
    padding: 12px 0;
}
.navbar-tablet{
    margin: 0;
    list-style-type: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba( 34, 34, 34, 1);
    z-index: 4;
    width: 250px;
    padding-left: 20px;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}
.nav-tablet-input:checked ~ .navbar-overlay{
    display: block;
}
.nav-tablet-input:checked ~ .navbar-tablet{
    transform: translateX(0);
}
.tablet-menu__navpage{
    padding-left: 30px;
    list-style-type: none;
    z-index: 3;
    position: absolute;
    display: none;
}
.navbar-tablet--icon{
    position: relative;
    font-size: 1.2rem;
    color: rgba(153, 153, 153, 1);
    padding-right: 8px;
    text-align: center;
    margin-top: 14px;
}
.tablet-menu__navpage-item ,.navbar-tablet--item{
    display: flex;
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid rgba(70, 69, 69, 0.8);
}
.tablet-menu__navpage-item--link ,.navbar-tablet--link{
    color: rgba(153, 153, 153, 1);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    flex-grow: 1;
}
.navbar-overlay{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
    animation: Overlay linear 0.3s;
}
/* BÊN TRÊN LÀ NAV BAR CỦA TABLET */
.menu__nav-list{
    display: flex;
    padding-left: 0;
    margin: 0;
}
.menu__nav-item-left{
    margin-left: 10px;
}
.menu__nav-item{
    list-style: none;
}
.menu__nav-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    display: block;
    line-height: 5.2rem;
    padding-right: 20px;
}
.menu__nav-link:hover{
    color: var(--primary-color);
}
.menu__nav-item:hover .menu__navpage{
    display: block;
    animation:  FadeIn 0.2s ease-in;
}
/* menu con của navbar */
.menu__navpage {
    top: 100%;
    position: absolute;
    padding: 10px 76px 16px 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    display: none;
    z-index: 1;
    background-color: var(--white-color);
}
.menu__navpage::before{
    cursor: pointer;
    content: "";
    position: absolute;
    border-width: 20px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -20%;
    left: 2%;
    z-index: 1;
}
/* chú ý làm mũi tên */
.down{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.menu__navpage .down{
    cursor: pointer;
    border: solid rgba(0,0,0,0.1);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: -10px;
    left: 10px;
    z-index: 1;
}

.menu__navpage-item{
    padding: 5px 20px;
    list-style-type: none;
}
.menu__navpage-item--link.a-primary{
    color: var(--primary-color);
}
.menu__navpage-item--link{
    display: block;
    font-size: 1.2rem;
    color: #666;
    text-decoration: none;
    line-height: 1.6rem;
    padding:2px 0;
}
.menu__navpage-item--link:hover{
    color: var(--primary-color);
}
/* Menu SUBNAV TABLE TYPE */
.menu__nav-item:hover .menu__subnav {
    display: flex;
    animation:  FadeIn 0.2s ease-in;
}
/* KÉ MENU SUBNAV BEDROOM*/
.menu__nav-item:hover .menu__subnav-bedroom {
    display: flex;
    animation:  FadeIn 0.2s ease-in;
}
.menu__subnav::before{
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    left: 0;
    right: 0;
    top: -8px;
    cursor: pointer;
}
.menu__subnav-bedroom,
.menu__subnav {
    /* display: flex; */
    flex-wrap: wrap;
    top: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    /* padding: 10px 76px 16px 0; */
    /* border: 0.2px solid rgba(0,0,0,0.2); */
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    z-index: 1;
    background-color: var(--white-color);
}
/* mui ten */
.menu__subnav-type::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -36px;
    left: 96px;
    z-index: 1;
    cursor: pointer;
}
.menu__subnav-type{
    padding: 10px 0 16px 0;
    /* display: none; */
}
.menu__subnav-type i{
    cursor: pointer;
    border: solid rgba(0,0,0,0.1);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 13px;
    position: absolute;
    top: -12px;
    left: 100px;
    z-index: 1;
}
.menu__subnav-head{
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 0 0 16px 0;
    position: relative;
}
.menu__subnav-head::after{
    content: "";
    border-style: solid;
    border-width: 1px;
    color: #eaeaea;
    left: 20px;
    top: 100%;
    right: 0;
    position: absolute;
}
.menu__subnav-item{
    padding: 3px 20px;
    list-style-type: none;
    display: block;
}
.menu__subnav-item--link{
    font-size: 1.2rem;
    color: #666;
    text-decoration: none;
    line-height: 1.2rem;
    padding:4px 0;
    display: block;
}
.menu__subnav-item--link:hover{
    color: var(--primary-color);
}
/* MENU TAIL */
.menu__tail{
    margin: 16px 0 16px 0;
}
.img-right{
    margin-left: 2px;
}
.img-left{
    margin-left: 18px;

}
/* HOVER */
.menu__tail-link{
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-decoration: none;
}
.menu__tail-link:hover::before{
    top: 50%;
    bottom: 50%;
    background: rgba(255, 255, 255, 0.2);
}
.menu__tail-link:hover::after{
    right: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.2);
}
 .menu__tail-link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
} 
.menu__tail-link::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.menu__tail-link--img{
    max-width: 100%;
    display: block;
    width: 542px;
    height: 122px;
}
/* BEDROOM FUNITURE MENU */
/* MUI TEN */
.menu__subnav-bedroom i{
    cursor: pointer;
    border: solid rgba(0,0,0,0.1);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 13px;
    position: absolute;
    top: -12px;
    left: 413px;
    z-index: 1;
}
.menu__subnav-bedroom::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -35px;
    left: 34.7%;
    z-index: 1;
    cursor: pointer;
}
.menu__bedroom{
    padding: 0;
}
.menu__bedroom-head{
    margin: 32px 0 18px 0;
}
.menu__bedroom-head--link{
    text-decoration: none;
    display: block;
    text-align: center;
}
/* TEST */
/* .menu__bedroom-head{
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-bottom: 18px;
    padding-top: 60%;
}
.menu__bedroom-head--link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
}
.menu__bedroom-head--link::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.menu__bedroom-head--img{
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
} */
.menu__bedroom-body{
    margin-left: 20px;
}
.menu__bedroom-body--link{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.menu__bedroom-body--link:hover{
    color: var(--primary-color);
}
.menu__bedroom-body--content{
    color: #777;
    font-size: 1.3rem;
    font-weight: 400;
}


/* SHOP MENU */
.menu__subnav-shop::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -36px;
    left: 46%;
    z-index: 1;
    cursor: pointer;
}
.menu__subnav-shop{
    padding: 10px 0 16px 0;
    /* display: none; */
}
.menu__subnav-shop i{
    cursor: pointer;
    border: solid rgba(0,0,0,0.1);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 13px;
    position: absolute;
    top: -12px;
    left: 46.3%;
    z-index: 1;
}

/* MENU BLOG */
.menu__nav-item:hover .menu__blog{
    display: block;
    animation:  FadeIn 0.2s ease-in;
}
.menu__navpage-item--icon{
    position: absolute;
    right: 0;
    width: 100px;
    text-align: center;
}
.menu__subnavpage{
    top: 80%;
    left: 100%;
    position: absolute;
    padding: 10px 76px 16px 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    display: none;
    min-width: 250px;
    background-color: var(--white-color);
}
.menu__subnavpage::before{
    content: "";
    border-color: transparent;
    border-width: 40px 30px;
    border-style: solid;
    top: 0;
    left: -40px;
    position: absolute;
}
.menu__blog .down{
    cursor: pointer;
    border: solid rgba(0,0,0,0.1);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 1;
}
.menu__blog::before{
    cursor: pointer;
    content: "";
    position: absolute;
    border-width: 20px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    top: -16%;
    left: 1%;
    z-index: 1;
}
.menu__blog {
    top: 100%;
    position: absolute;
    padding: 10px 76px 16px 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    display: none;
    background-color: var(--white-color);
    z-index: 1;
}
.menu__navpage-item:hover .menu__subnavpage{
    display: block;
    animation:  FadeIn 0.2s ease-in;
}
/* MENU SHORTCODES */
/* Menu SUBNAV TABLE TYPE */
.menu__nav-item:hover .menu__subnav {
    display: flex;
    animation:  FadeIn 0.2s ease-in;
}
.menu__subnav {
    /* display: flex; */
    flex-wrap: wrap;
    top: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    /* padding: 10px 76px 16px 0; */
    /* border: 0.2px solid rgba(0,0,0,0.2); */
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.menu__subnav-shortcode::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -36px;
    left: 59%;
    z-index: 1;
    cursor: pointer;
}
.menu__subnav-shortcodeimg,
.menu__subnav-shortcode{
    padding: 10px 0 16px 0;
    /* display: none; */
}
.menu__subnav-shortcode .down{
    cursor: pointer;
    border: solid rgba(0,0,0,0.1);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 13px;
    position: absolute;
    top: -12px;
    left: 59.4%;
    z-index: 1;
}
/* .menu__subnav-shortcode::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
} */
/* HOVER */
.menu__subnav-shortcode--link{
    text-decoration: none;
    padding: 2px 10px;
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.menu__subnav-shortcode--link::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.menu__subnav-shortcode--link::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.menu__subnav-shortcode--link:hover::before{
    right: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.2);
}
.menu__subnav-shortcode--link:hover::after{
    top: 50%;
    bottom: 50%;
    background: rgba(255, 255, 255, 0.2);
}
.menu__subnav-shortcode--img{
    width: 765px;
    max-width: 100%;
    height: auto;
}



/* SEARCH */
.menu__nav-search{
    /* position: relative; */
    font-size: 1.6rem;
    color: #666;
    width: 4rem;
}
.menu__nav-search:hover{
    cursor: pointer;
}
.menu__nav-search, .cart-item{
    line-height: 5.2rem;
}
.menu__nav-cart{
    width: 110px;
    text-align: center;
    height: 5.2rem;
    padding-left: 5px;
    position: relative;
    cursor: pointer;
}
.menu__nav-cart::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 12px 1px;
    left: 0;
    color: #eaeaea;
    top: 50%;
    transform: translateY(-50%);
}
.menu__nav-cart-content:hover .menu__nav-history{
    display: block;
}
.cart-icon{
    font-size: 1.3rem;
    color: #666;
    margin-right: 5px;
}
.cart-item--number{
    color: var(--primary-color);
    font-size: 1.4rem;
}
.cart-item--text{
    font-size: 1.4rem;
}
.cart-item{
    position: relative;
}
.menu__nav-history::before{
    content: "";
    position: absolute;
    border-width: 20px 20px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
    right: 20px;
    top: -40px;
    z-index: 3;
}
.menu__nav-history{
    position: absolute;
    right: 0;
    top: 110%;
    width: 300px;
    height: 90px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    display: none;
    animation: Fade ease 0.3s;
    transform-origin:  calc(100% - 32px) top;
    background-color: var(--white-color);
    z-index: 1;
}
.menu__nav-history-contact{
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: center;
    line-height: 9rem;
    margin: 0;
}
/* search */
 .menu__navbar-search{
     position: absolute;
     float: left;
     right: 0;
     top: 0;
     left: 0; 
    /*  display: flex; */
     z-index: 1;
     display: none;
}
.menu__nav-search:hover .menu__navbar-search{
    display: block;
}
.menu__nav-search--option{
    color: #777;
    padding-left: 20px;
    border: none;
    width: 90%;
    padding-right: 60px;
    height: 48px;
    outline: none;
}
.menu__nav-search--option::placeholder { 
    color: #777;
    font-size: 12px;
 }
.menu__nav-search--label{
    background-color: var(--white-color);
    border: none;
    color: #e34444;
    font-size: 14px;
    font-weight: bold;
    width: calc(100% - 91%);
    margin-left: 7px;
    height: 48px;
    padding: 0 20px;
    cursor: pointer;
}  


/* CONTENT */
.content{
    margin-top: 30px;
}
.content-body{
    margin-top: 100px;
    font-size: 2rem;
}

/* PRODUCTS-IMAGE */
.product-images{
    display: flex;
}
.image-2extra__img{

    margin-top: 24px;
    margin-bottom: 50px;
}
.left-extra__image,
.right-extra__image{
    max-width: 270px;
}
.image-left-extra__img--link,
.image-right-extra__img--link{
    display: block;
}
/* nút đỏ */
.image-main{
    position: relative;
}
.image-main__btn{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
}
.image-main__btn--bullet{
    margin: 0 4px;
    width: 15px;
    height: 15px;
    border: 2px solid #6a6a6a;
    border-radius: 0;
    background-color: var(--white-color);
}
.image-main__btn--bullet:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
}
/* HOVER extra__image */
.image-extra__img--link{
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    background-color: #333;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
    max-height: 257px;
}
/* Màu đen */
.image-extra__img--link:hover .extra__image{
    opacity: 0.3;
}
/* Đường chỉ trắng */
.image-extra__img--link:hover::before{
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.image-extra__img--link:hover::after{
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.image-extra__img--link::before{
    content: "";
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    transform: scale(0, 1);
}
.image-extra__img--link::after{
    content: "";
    position: absolute;
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    top: 15px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    transform: scale(1, 0);
}
/* HOVER left-extra__image */
.image-left-extra__img--link{
    text-decoration: none;
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    max-height: 257px;
}
.image-left-extra__img--link:hover::before{
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    right: 50%;
}
.image-left-extra__img--link:hover::after{
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    left: 50%;
}
.image-left-extra__img--link::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.image-left-extra__img--link::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.left-extra__image{
    max-width: 100%;
    vertical-align: top;
}
/* HOVER right-extra__image */
.image-right-extra__img--link{
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.image-right-extra__img--link::before{
    background: url(http://demo.snstheme.com/wp/simen/wp-content/themes/snssimen/assets/img/plus.png) no-repeat scroll 
    center center / 60px 60px rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: scale(0.4) rotateY(
180deg);
    -moz-transform: scale(0.4) rotateY(180deg);
    -ms-transform: scale(0.4) rotateY(180deg);
    -o-transform: scale(0.4) rotateY(180deg);
    transform: scale(0.4) rotateY(
180deg);
    -webkit-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.image-right-extra__img--link:hover::before{
    opacity: 0.6;
    filter: alpha(opacity=60);
    visibility: visible;
    -webkit-transform: scale(1) rotate(
0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(
0deg);
}
.right-extra__image{
    max-width: 100%;
    vertical-align: top;
}
/* TABLET TITLE PRODUCTS */
.suggest-collection--tablet{
    display: none;
}
.suggest-tablet, .title-tablet{
    position: relative;
}
.title-product--tablet{
    /* position: relative; */
    display: none;
}
.title-product--tablet__icon, .suggest-collection--tablet__icon{
    font-size: 2.6rem;
}
.title-product-tablet{
    display: none;
    padding: 0;
    z-index: 2;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    position: absolute;
    bottom: -8%;
    left: 6%;
    width: 140px;
}
.suggest-product-tablet{
    display: none;
    padding: 0;
    z-index: 2;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    position: absolute;
    top: 70%;
    left: 2%;
    width: 140px;
}
.input-title--tablet:checked ~ .title-product-tablet{
    display: block;
}
.input-title--tablet:checked ~ .overlay-title{
    display: block;
}
.input-suggest--tablet:checked ~ .suggest-product-tablet{
    display: block;
}
.input-suggest--tablet:checked ~ .overlay-suggest{
    display: block;
}
.overlay-suggest{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}
.input-title--tablet:checked ~ .overlay-title{
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.title-product--item-tablet, .suggest-product--item-tablet{
    list-style-type: none;
    font-size: 1.4rem;
    line-height: 34px;
    height: 34px;
    max-width: 140px;
    background-color: var(--white-color);
}
.title-product--link-tablet:hover{
    background-color: #dadada;
    cursor: pointer;
}
.title-product--item-tablet.title-product--item-tablet__active{
    background-color: rgb(69, 69, 245);
}
.title-product--item-tablet.title-product--item-tablet__active a{
    color: var(--white-color);

}
.suggest-product--item-tablet.suggest-product--item-tablet__active{
    background-color: rgb(69, 69, 245);
}
.suggest-product--item-tablet.suggest-product--item-tablet__active a{
    color: var(--white-color);
}
.title-product--link-tablet, .suggest-product--link-tablet{
    color: var(--text-color);
    padding-left: 10px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}
.input-title--tablet{
    display: none;
}
/* TITLE PRODUCTS */
.title-product{
    display: inline-flex;
    padding: 0;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.title-product::before{
    content: '';
    height: 1px;
    width: calc(100% - 380px);
    background-color: #eaeaea;
    top: 40%;
    right: 10px;
    position: absolute;
}
.title-product--item{
    list-style-type: none;
}
.title-product--item::after{
    content: "";
    position: absolute;
    border-width: 8px 0.1px;
    border-style: solid;
    top: 0;
    color: #eaeaea;
}
.title-product--item:first-child::after{
    display: none;
}
.title-product--item:first-child{
    margin-left: 0;
}
.title-product--link::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: var(--black-color) transparent transparent transparent;
    border-width: 6px 6px;
    bottom: -90%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.title-product--link{
    margin: 0 16px;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    position: relative;
}
.title-product--item:first-child .title-product--link::after{
    display: block;
}
.title-product--item:first-child .title-product--link::before{
    display: block;
}
.title-product--link:hover::after{
    display: block;
}
.title-product--link:hover::before{
    display: block;
}
.title-product--link::before{
    display: none;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -15%;
    left: 0;
    background-color: var(--black-color);
}

/* PRODUCT DEMO */
.product-demo--item{
    overflow: hidden;
    margin-top: 15px;
    padding-bottom: 20px;
}
.product-demo--img{
    position: relative;
}
.product-demo--img__link{
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    text-decoration: none;
    display: block;
}
.product-demo--img__image{
    display: block;
}
.product-demo--img__box{

}
.product-demo--item:hover .box__hover-above{
    transition: transform 0.3s linear;
    transform: translateX(0);
}
.box__hover-above{
    width: 100%;
    position: absolute;
    bottom: 15%;
    height: 34px;
    line-height: 34px;
    background-color: var(--black-color);
    text-align: center;
    transform: translateX(100%);
    transition: transform linear 0.3s;
}
.box__hover-above--link{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 400;
    /* -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; */
}
.box__hover-above--link:hover{
    background-color: var(--primary-color);
}
/* làm icon chạy */
.box__hover-above--link:hover .box__hover-above--icon{
    /* transition: transform ease-out 0.5s;
    transform: translateX(30%); */
    -webkit-animation: horizontal 2s ease-out infinite ;
    animation: horizontal 2s ease-out infinite ;
    /* animation: horizontal 0.8s linear 0s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-duration: 2s; 
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: horizontal;  */
    /* transition: 0.9s;
    transform: rotatey(180deg); */
}
/* .box__hover-above--link::before{
    content: '';
    background-position: 0 top;
} */
.box__hover-above--icon{
    line-height: 31px !important;
    vertical-align: top;
    font-size: 1rem;
    padding: 0 6px;
    transition: all 0.25s ease 0s;
    font-weight: bold;
}
.product-demo--item:hover .box__hover-bellow{
    transition: transform linear 0.3s;
    transform: translateX(0);
}
.box__hover-bellow{
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    height: 40px;
    line-height: 40px;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}
.box__hover-bellow--link{
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    display: table-cell;
    text-decoration: none;
}
.box__hover-bellow--link:hover .box__hover-bellow--icon{
    color: var(--primary-color);
}
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}
[data-title]:hover::before {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
    font-size: 1.2rem;
    position: absolute;
    /* padding: 1px 5px 2px 5px; */
    padding: 0 3px;
    top: -75%;
    display: table-cell;
    min-width: 100%;
    text-align: center;
    line-height: 20px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
}
[data-title]::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 6px 6px;
    border-color: var(--primary-color) transparent transparent transparent;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}
[data-title] {
    position: relative;
}
.box__hover-bellow--icon{
    font-size: 1.2rem;
    color: var(--text-color);
}
/* SALE */
.product-demo--sale{
    position: absolute;
    top: 10px;
    z-index: 1;
    padding: 2px 30px;
    color: var(--white-color);
    font-size: 10px;
    line-height: 1rem;
    background-color: var(--primary-color);
    text-transform: uppercase;
    right: -30px;
    /* xoay */
    transform: rotate(45deg);
}
/* demo info */
.product-demo--info{
    text-align: center;
}
.product-demo--info__link{
    display: block;
    text-decoration: none;
    font-size: 1.35rem;
    color: #666;
    font-weight: 400;
}
.product-demo--info__link:hover{
    color: var(--primary-color);
}
.content__price-old{
    position: relative;
    font-size: 1.2rem;
    margin-right: 4px;
}
.content__price-old::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
    top: 50%;
    left: 0;
    transform: rotate(-10deg);
}
.content__price-new{
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--black-color);
}
.content__icon--click{
    color: #f1d201;
    margin-top: 6px;
}
.content__icon--noclick{
    color: #dcdcdc;
    margin-top: 6px;
}

/* LOAD MORE ITEMS */
.load__more-item{
    position: relative;
    width: 100%;
    text-align: center;
    margin: 20px 0 100px 0;
}
.more-item{
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    display: block;
    font-size: 1.2rem;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--white-color);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    width: 260px;
    height: 40px;
    line-height: 40px;
}
.more-item:hover{
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

/* NEW PRODUCT */
.new-product{
    background-color: #f0f0f0;
    position: relative;
    height: 420px;
    margin-bottom: 55px;
}
.new-product--img{
    margin-top: 45px;
}
.new-product__image{

}
.new-product--info{
    margin-top: 70px;
}
.new-product--head{
    margin: 0;
    font-size: 50px;
    color: #333;
    line-height: 1.3;
    text-transform: uppercase;
}
.new-product--category{
    padding: 10px 0;
    margin: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 1.5;
    text-transform: uppercase;
}
.new-product--content{
    margin: 0 0 10px 0;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2.4rem;
}
.new-product--btn__link{
    text-decoration: none;
    display: table-cell;
}
.new-product--btn{
    font-size: 1.4rem;
    width: 113px;
    height: 34px;
    background-color: #333;
    color: var(--white-color);
    border: none;
    border-radius: 3px;

}
.new-product--btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

/* SUGGETS COLLECTION */
.suggest-collection--head{
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;

}
.suggest-collection{
    margin-bottom: 20px;
}
/* .suggest-collection:first-child .products-collection--link::after{
    display: block;
}
.suggest-collection:first-child .products-collection--link::before{
    display: block;
} */
.products-collection--link{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 26px;
    border: 1px solid rgba(0,0,0,0.1);
    height: 115px;
}
.products-collection--link::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 1.5px;
    background-color: var(--black-color);
    display: none;
}
.products-collection--link.products-collection--link__block::before{
    display: block;
}
.products-collection--link.products-collection--link__block::after{
    display: block;
}
.products-collection--link::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 7px 7px;
    border-color: var(--text-color) transparent transparent transparent;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.products-collection--link:hover::before{
    display: block;
}
.products-collection--link:hover::after{
    display: block;
}
.products-collection--img{
    max-height: 70px;
    margin-top: 12px;
}
.products-collection--name{
    position: absolute;
    bottom: 1px;
    left: 0;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* SLIDER PRODUCTS */
.slider-products{
    margin-bottom: 55px;
}

/* SALE PRODUCTS */
.image-sale{
    margin-bottom: 50px;
}
.image-sale--link.image-sale--link__height{
    max-height: 300px;
}
.image-sale--link{
    position: relative;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    vertical-align: top;
    background-color: #333;
}
.image-sale--link:hover
.image-sale--image{
    opacity: 0.3;
}
.image-sale--link::before{
    content: "";
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    transform: scale(0,1);
}
.image-sale--link::after{
    content: "";
    position: absolute;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    transform: scale(1,0);
}
.image-sale--link:hover::before{
    transform: scale(1);
    transition: all 0.3s ease-out 0s;
    -o-transform: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}
.image-sale--link:hover::after{
    transform: scale(1);
    transition: all 0.3s ease-out 0s;
    -o-transform: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
}

.image-sale--link__mid{
    display: inline-block;
    text-decoration: none;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
}
.image-sale--link__mid:hover::before{
    background-color: rgba(0,0,0,0.3);
    right: 50%;
    z-index: 1;
}
.image-sale--link__mid:hover::after{
    background-color: rgba(0,0,0,0.3);
    left: 50%;
    z-index: 1;
}
.image-sale--link__mid::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.image-sale--link__mid::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}
.image-sale--image__right, .image-sale--image__mid{
    width: 270px;
    height: auto;
}
.image-sale--link__right{
    display: inline-block;
    text-decoration: none;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
}
.image-sale--link__right::before{
    background: url(http://demo.snstheme.com/wp/simen/wp-content/themes/snssimen/assets/img/plus.png) no-repeat scroll 
    center center / 60px 60px rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transform: scale(0.4) rotateY(
180deg);
    -moz-transform: scale(0.4) rotateY(180deg);
    -ms-transform: scale(0.4) rotateY(180deg);
    -o-transform: scale(0.4) rotateY(180deg);
    transform: scale(0.4) rotateY(
180deg);
    -webkit-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.image-sale--link__right:hover::before{
    opacity: 0.6;
    filter: alpha(opacity=60);
    visibility: visible;
    -webkit-transform: scale(1) rotate(
0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(
0deg);
}

/* MOST VIEWED */
.most-viewed{
    margin-bottom: 30px;
}
.most-viewed--above{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    position: relative;
}
.most-viewed--head{
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2rem;
    margin-top: 4px;
}
.most-viewed--head::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 75%;
    background-color: #eaeaea;
    top: 46%;
    left: 15%;
}
.most-viewed--above__icon{

}
.most-viewed--above__btnr:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}
.most-viewed--above__btnl:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}
.most-viewed--above__btnr, .most-viewed--above__btnl{
    background-color: var(--white-color);
    border: 1px solid #dadada;
    width: 30px;
    height: 30px;
    color: #dadada;
}
.most-viewed--above__iconr, .most-viewed--above__iconl{
    font-size: 1.4rem;
}
.most-viewed--above__btnr{
    margin-left: 6px;

}
.most-viewed--item{
    display: flex;
    margin-bottom: 15px;
}
.most-viewe--link{
    display: table-cell;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.08);
    margin-right: 26px;
}
.most-viewe--link:hover{
    box-shadow: 0px 0px 0px 1px var(--primary-color);
}
.most-viewe--img{
    width: 112px;
    height: auto;
}
.most-viewed--info{

}
.most-viewed--name:hover{
    color: var(--primary-color);
}
.most-viewed--name{
    text-decoration: none;
    display: block;
    padding-top: 6px;
    font-size: 1.4rem;
    color: #666;
}
.most-viewed__price{
    margin: 6px 0;
}
.most-viewed--old__price{
    position: relative;
    font-size: 1.2rem;
    color: #333;
    margin-right: 6px;
}
.most-viewed--old__price::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #333;
    top: 50%;
    left: 0;
    transform: rotate(
-10deg);
}
.most-viewed--new__price{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}
.most-viewed--icon{

}
.most-viewed--icon__click{
    color: #f1d201;
}
.most-viewed--add{
    text-decoration: none;
    display: flex;
    margin-top: 14px;
    color: #888;
}
.most-viewed--add:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.most-viewed--add__icon{
    height: 12px;
    margin-right: 5px;
    margin-top: 1px;
}
.most-viewed--add__name{
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* LATEST POSTS */
.latest-post{
    margin-bottom: 55px;
}
.image-sale--link.latest-post--link{
    width: 370px;
    max-height: 190px;
}
.latest-post--info{
    display: flex;
    margin-top: 20px;
}
.latest-post--calendar{
    margin-right: 15px;
    text-align: center;
    height: 56px;
    width: 165px;
    border: 1px solid rgba(0,0,0,0.4);
    position: relative;
    line-height: 24px;
    vertical-align: top;
}
.latest-post--calendar__day{
    margin-top: 4px;
    font-size: 2.6rem;
    font-weight: 500;
}
.latest-post--calendar__month{
    font-size: 1.2rem;
    color: #777;
    text-transform: uppercase;
    font-weight: 500;
}
.latest-post--content{

}
.latest-post--content__link{
    display: block;
    text-decoration: none;
}
.latest-post--content__owner{
    margin: 0;
    color: var(--primary-color);
    font-size: 1.2rem;
}
.latest-post--content__name{
    margin: 0;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}
.latest-post--content__body{
    height: 50px;
    /* line-height: 54px; */
    margin-top: 10px;
    color: #666;
    font-size: 1.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

/* LOGO */
.logo{
    position: relative;
    padding-top: 10px;
    margin-bottom: 30px;
}
.logo::before{
    position: absolute;
    content: '';
    background-color: #dadada;
    height: 1px;
    width: 100%;
    top: -15px;
    left: 0;
}
.logo-cover{
    max-width: 195px;
    max-height: 107px;
}
.logo-cover:hover{
    background-color: #eaeaea;
}
.logo-link{
    display: block;
}

/* FOOTER */
.footer{
    background-color: #f8f8f6;
}
.footer-list{
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
}
.footer-item{
    display: flex;
    margin-bottom: 20px;
}
.footer-item:hover .footer-item--left{
    box-shadow: 0px 0px 0px 1px var(--primary-color);
}
.footer-item:hover .footer-item--left__icon{
    color: var(--primary-color);
}
.footer-head{
    margin: 0;
    font-size: 1.8rem;
    padding: 20px 0 20px 0;
    text-transform: uppercase;
}
.footer-item--left{
    height: 33px;
    width: 33px;
    background-color: #ffffff;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.08);
    margin-right: 10px;
}
.footer-item--left__icon{
    font-size: 1.2rem;
    color: #888;
}
.footer-item--right{
    color: #888;
}
.footer-item--right__add{
    height: 17px;
    line-height: 17px;
    margin: 0;
    font-size: 1.2rem;
}
.footer-item--right__number{
    margin: 0;
    font-size: 1.2rem;
}
.footer-item--right__link{
    padding-right: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #888;
    height: 18px;
    line-height: 18px;
    display: block;
}
.footer-item--right__link:hover{
    color: var(--primary-color);
}
.footer-link{
    font-size: 1.2rem;
    color: #888;
    text-decoration: none;
    line-height: 30px;
    transform: translateX(0);
    display: block;
}
.footer-link:hover{
    color: var(--primary-color);
    transition: transform 0.1s linear;
    transform: translateX(10px);
}
.footer-item.footer-item--nomargin{
    margin: 0;
}
.footer-item--right.footer-item--right__margin{
    margin-top: 4px;
}
.footer-item--input{
    width: 218px;
    height: 33px;
    background-color: var(--white-color);
    border: none;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.08);
    margin: 16px 0;
    outline: none;
    padding-left: 10px;
}
.footer-item--input::placeholder{
    font-size: 1.2rem;
    color: #888;
}
.footer-item--btn{
    margin-top: 6px;
    width: 98px;
    height: 34px;
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 2px;
    font-size: 1.2rem;
    border: none;
}
.footer-item--btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
.footer-item--card{
    margin-top: 15px;
}